---
name: update

on:
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:
  update:
    name: "Update CV"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: ./
        with:
          token_github: ${{ secrets.TOKEN_GITHUB }}
          url_github: ${{ secrets.URL_GITHUB}}
          url_stackoverflow: ${{ secrets.URL_STACKOVERFLOW }}
          github_repository: $GITHUB_REPOSITORY
